# .env.example — COPY ke .env dan isi nilainya
# cp .env.example .env

# Keycloak
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin123

# SP Auth
SP_ENTITY_ID=urn:saml-poc:sp
SP_CALLBACK_URL=http://localhost:8080/service-poc/callbacksso
SP_KEYSTORE_PASSWORD=changeit
SP_KEYSTORE_PRIVATE_KEY_PASSWORD=changeit

# JBoss / Tomcat
SERVER_PORT=8080